.profile-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  background: #fefefe;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-size: 16px;
  line-height: 1.6;
  border-left: 4px solid #6c63ff;
  margin-top: 50px;
}


.profile-container h2 {
  margin-bottom: 1rem;
  font-size: 17px;
}

.profile-container p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.profile-container button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  
}
